name: "Proxy: deploy"

on:
  # Push to the main branch
  push:
    branches:
      - main

jobs:
  # Build and publish the commit to docker
  docker:
    runs-on: ubuntu-latest
    if: ${{ github.repository == 'growthbook/growthbook-proxy' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build, tag, and push image to Docker Hub
        run: |
          # Store current git hash and date in files
          mkdir -p buildinfo
          echo "${GITHUB_SHA}" > buildinfo/SHA
          printf '%(%Y-%m-%dT%H:%M:%SZ)T' > buildinfo/DATE
          # Build and push the docker image
          docker buildx build --platform linux/amd64,linux/arm64 -t growthbook/proxy:latest -t growthbook/proxy:git-${GITHUB_SHA::7} --push .
          tag=$(git tag --points-at HEAD)
          if [ -n "$tag" ]; then
            docker tag growthbook/proxy:latest growthbook/proxy:"$tag"
            docker push growthbook/proxy:"$tag"
          fi
